@font-face {
  font-family: "gilroy";
  font-weight: 200;
  src: local("gilroy"), url(../fonts/Gilroy-Light.otf) format("truetype");
}

@font-face {
  font-family: "gilroy";
  font-weight: 600;
  src: local("gilroy"), url(../fonts/Gilroy-ExtraBold.otf) format("truetype");
}

$color-orange: #ff6000;
$stroke: #ffffff78;
$strokeBlack: #00000085;

* {
  font-family: "gilroy";
  font-weight: 200;
  strong {
    font-weight: 600 !important;
  }
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  // height: 100%;
  // -webkit-overflow-scrolling: touch;
  // overflow-scrolling: touch;
  // font-family: "Signika Negative", sans-serif, Arial;
}

.blck-bg {
  background: black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navbar {
  position: fixed;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  > div {
    > div {
      span {
        // background: red !important;
      }
    }
  }
  .header-wrapper {
    // display: none;
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    .h-left {
      width: 100%;
      height: 100px;
      max-width: 400px;
      span {
        position: absolute;
        display: flex;
        width: 100%;
        max-width: 400px;
        padding: 25px;
        img {
          position: absolute;
          width: 100%;
          max-width: 400px;
          @media (max-width: 1300px) {
            max-width: 250px;
          }
        }
        // background-image: url("/img/moonstruck/moon/moon-light2.png");
      }
    }
    .h-right {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      > div {
        position: absolute;
      }
      .links-black {
        color: white;
      }
      .links-white {
        color: black;
      }
      a {
        text-decoration: none;
        padding: 0px 15px;
        text-transform: uppercase;
        font-size: 20px;
        @media (max-width: 1300px) {
          font-size: 16px;
        }
        font-weight: 600;
        color: inherit;
        &:hover {
          color: $color-orange;
        }
      }
    }
  }
}

.panel {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  .sec-wrapper {
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
  }
}

body {
  overflow-x: hidden;
  //   overflow-y: scroll;

  > div {
    height: 100%;
    > div {
      height: 100%;
      > div {
        height: 100%;
        > div {
          height: 100%;
        }
      }
    }
  }
}

.sec-1 {
  background: black;
  .sec-wrapper-1 {
    // mix-blend-mode: multiply;
    text-align: left;
    display: flex;
    .title-wrapper {
      font-size: 35px;
      margin-top: -150px;
      h2 {
        padding-left: 23px;
        font-size: 80px;
        @media (max-width: 1300px) {
          font-size: 60px;
        }
      }
      h3 {
        // color: $color-orange;
        // font-weight: 600;
        // background: linear-gradient(
        //   113deg
        //   , transparent 20%, white 60%, transparent 90%);
        //   position: relative;
        @media (max-width: 1300px) {
          font-size: 25px;
        }
        //   padding: 25px 0px;
        color: #ff6000;
        font-weight: 600;
        // background: linear-gradient(128deg, #000000d4 55%, transparent 43%);
        position: relative;
        padding: 25px 0px;
        padding-left: 55px;
        // &::before {
        //   content: "";
        //   position: absolute;
        //   width: calc(100% - 300px);
        //   height: 100%;
        //   border-top: 3px solid #ff6000;
        //   border-left: 100px solid transparent;
        //   border-right: 100px solid transparent;
        //   left: 50%;
        //   transform: translate(-50%, 0);
        // }
        // &::after {
        //   content: "";
        //   position: absolute;
        //   width: calc(100% - 800px);
        //   height: 100%;
        //   border-bottom: 3px solid #ff6000;
        //   border-left: 100px solid transparent;
        //   border-right: 100px solid transparent;
        //   left: 50%;
        //   top: -15px;
        //   transform: translate(-50%, 0);
        // }
      }
    }
    .sec-1-desc {
      max-width: 800px;
      text-align: left;
      justify-self: end;
      align-self: baseline;
      margin-right: 150px;
      position: relative;
      p {
        font-size: 25px;
        line-height: 30px;
        font-weight: 600;
        color: #2b2b2b;
        position: relative;
        text-shadow: -1px -1px 0 $stroke, 0 -1px 0 $stroke, 1px -1px 0 $stroke,
          1px 0 0 $stroke, 1px 1px 0 $stroke, 0 1px 0 $stroke,
          -1px 1px 0 $stroke, -1px 0 0 $stroke;
      }
    }
  }
  .moon-bg {
    background: url("/img/moonstruck/moon/moon-light2.png");
    z-index: 1;
  }
  .moon-bg2 {
    background: url("/img/moonstruck/moon/moon-dark.png");
    z-index: 2;
  }
}

.sec-2 {
  > .sec-wrapper {
    display: flex;
    align-self: baseline;
    margin-top: 100px;
    height: 100%;
    .title-wrapper {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      .sec-2-desc {
        color: white;
        p {
          font-weight: 600 !important;
          text-align: left;
          text-transform: uppercase;
          font-size: 20px;
          letter-spacing: 1px;
          text-shadow: -1px -1px 0 $strokeBlack, 0 -1px 0 $strokeBlack,
            1px -1px 0 $strokeBlack, 1px 0 0 $strokeBlack,
            1px 1px 0 $strokeBlack, 0 1px 0 $strokeBlack,
            -1px 1px 0 $strokeBlack, -1px 0 0 $strokeBlack;
        }
      }
      h2 {
        font-weight: 600;
        color: white;
        margin-bottom: 0;
        span {
          font-weight: 600;
          color: $color-orange;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 100px;
            background: $color-orange;
            top: -10px;
          }
        }
      }
    }
    .whatwedo {
      display: flex;
      height: 100%;
      align-items: center;
      .tabs-wrapper {
        display: flex;
        // position: relative;
        ul {
          padding: 0;
          margin: 0;
          padding-left: 50px;
          li {
            list-style: none;
            padding: 35px 0px;
            font-size: 35px;
            text-align: left;
            .active {
              color: $color-orange;
            }
            span {
              color: white;
              font-weight: 600;
              transition: all 0.19s ease-in-out;
              cursor: pointer;
              &:hover {
                color: $color-orange;
                transition: all 0.19s ease-in-out;
              }
            }
          }
        }
        .stripe-wrapper {
          .stripe-container {
            .stripe-item {
            }
          }
        }
      }
    }
  }
}

.sec-3 {
  background: black;
  position: relative;
  display: flex;
  > .sec-wrapper-3 {
    color: white;
    .title-wrapper {
      display: flex;
      flex-direction: column;
      h2 {
        font-weight: 600;
        color: white;
        display: flex;
        margin-bottom: 5px;
        span {
          font-weight: 600;
          color: $color-orange;
          position: relative;
          padding-right: 10px;
          &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 100px;
            background: $color-orange;
            top: -10px;
          }
        }
      }
      h6 {
        margin-top: 10px;
        font-size: 22px;
        text-align: left;
        letter-spacing: 1px;
      }
    }
    .features-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .feature-item {
        display: flex;
        flex-direction: column;
        margin: 0px 40px;
        align-items: baseline;
        min-width: 200px;
        span {
          font-size: 50px;
        }
        ul {
          list-style: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: baseline;
          position: relative;
          li {
            color: $color-orange;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 20px;
          }
          &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat !important;
            background: url(http://localhost:8888/img/right-arrow.svg);
            background-size: contain;
            width: 50px;
            height: 100px;
            right: calc(100% - -25px);
            top: -40%;
          }

        }
        &:nth-of-type(1){
          :after {
            content: "";
            width: 0px !important;
          }
        }

      }
    }
    .approach-wrapper {
      margin-top: 70px;
      h2 {
        font-weight: 600;
        color: white;
        display: flex;
        margin-bottom: 55px;
      }
      .bubles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .buble {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 15px;
          margin: 0px 25px;
          color: $color-orange;
          background-repeat: no-repeat !important;
          background-size: contain !important;
          height: 200px;
          width: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .b1 {
          background: url("/img/elements/b1.png");
        }
        .b2 {
          background: url("/img/elements/b2.png");
        }
        .b3 {
          background: url("/img/elements/b3.png");
        }
        .b4 {
          background: url("/img/elements/b4.png");
        }
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    background: url("/img/elements/orange-gradient.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 100%;
    width: 100%;
    height: 100%;
    max-width: 1795px;
    max-height: 292px;
    bottom: 0%;
    display: flex;
    right: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.sec-4 {
  background: green;
}
.nebitnopanel {
  height: 2200px;
  background: red;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.sec-1,
.sec-2,
.sec-3 {
  .moon-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    // transform: scale(1.1);
  }

  .moon-bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    // transform: scale(1.1);
  }
}

.blog-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/img/elements/close-orange.jpg");
  background-size: cover;
  padding: 100px 0px;
  .invisible {
    margin-top: calc(100vh - 100px);
  }
  .blog-wrapper {
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    flex-wrap: wrap;
    > div {
      .blog-list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      // max-width: calc(50% - 100px);
      // flex: 50%;
      display: flex;
      margin: 30px 50px;
      .blog-left {
        .featured-thumbnail {
          > div {
            > div {
              display: none !important;
            }
          }
          > div > img {
            display: none !important;
          }
          > div > 
          {
            display: none;
          div {
            display: none;
          }}
          img {
            // max-width: 120px;
            position: relative !important;
            width: 100%;
            height: 100%;
          }
        }
      }
      .blog-right {
        margin-left: 25px;
        .blog-header {
          > p {
            a {
              color: black;
              text-decoration: none;
              font-size: 25px;
              font-weight: 600;
              letter-spacing: 1px;
              text-transform: uppercase;
              &:hover {
                // color: #fff1e9;
                border-bottom: 1px solid;
              }
            }
            .line,
            .date {
              color: 331300;
              font-size: 25px;
            }
          }
        }
      }

      p {
        color: black;
        font-size: 20px;
      }
    }
  }
}

.footer {
  background: black;
  display: flex;
  justify-content: center;
  &::after {
    content: "";
    position: absolute;
    background: url("/img/elements/orange-gradient.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 100%;
    width: 100%;
    height: 100%;
    max-width: 1795px;
    max-height: 292px;
    left: 0;
    transform: rotate(180deg);
    display: flex;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .footer-wrapper {
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    padding: 200px 0px;
    .title-wrapper {
      h2 {
        font-weight: 600;
        // color: white;
        span {
          font-weight: 600;
          color: $color-orange;
          position: relative;
          font-size: 50px;
          &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 100px;
            background: $color-orange;
            top: -10px;
          }
        }
      }
    }
    .contact-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .mail {
        padding-left: 25px;
        a {
          text-decoration: none;
          color: white;
          font-size: 60px;
          &:hover {
            color: $color-orange;
          }
        }
      }
      .social {
        display: flex;
        flex-direction: row;
        a {
          width: 30px;
          margin: 0px 15px;
          position: relative;
          img {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
          }
          img:first-of-type {
            z-index: 1;
          }
          img:first-of-type:hover {
            opacity: 0;
          }
        }
      }
    }
  }
}


.blog-main {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  .blog-content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    .content {
      padding-left: 100px;
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      .blog-description {
        text-transform: uppercase;
        color: #9f9f9f;
      }
      p {
        font-size: 18px;
        letter-spacing: 0.5px;
        line-height: 1.5;
        margin: 35px 0;
        strong{
          font-weight: 600 !important;
         }
      }
      h1 {
        font-weight: 600;
        font-size: 50px;
      }
      .main-blog-content {

      img {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
      }

    }

    }
  }
}

